<script>
  import SEO from "~/components/seo.svelte";
</script>

<style>
  hr {
    @apply border-none;
    border-bottom: 4px dashed #EEE;
  }
  p, li {
    @apply font-light;
  }
</style>

<SEO title="MDsveX Page Example" />

<div class="mx-auto px-3 md:w-1/2 mt-20">
# Hello this is Markdown text

---

This is a URL: **[rommyarb.dev](https://rommyarb.dev)**

---

This is a list:
1. Eat
2. Code
3. Sleep

</div>

